body { 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 2rem;
}
section {
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-card {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer {
    text-align: center;
    padding: 1 rem 0;
    background: #333;
    color: #fff;
} 


#scrollToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Keep it in the same position on the screen */
    bottom: 20px; /* 20 pixels from the bottom */
    right: 30px; /* 30 pixels from the right */
    z-index: 99; /* Make sure it's on top of other content */
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}